* {
  position: relative;
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Outfit", sans-serif;
}
* a {
  text-decoration: initial !important;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: auto;
}

body.tainanParkOpen {
  overflow: hidden;
}

body {
  position: relative;
  top: -130px;
  overflow-x: hidden;
}

::-moz-selection {
  background: #2dc7ff;
  color: #4d4f4f;
}

::selection {
  background: #2dc7ff;
  color: #4d4f4f;
}

nav#navbar-spy.nav.navbar-default.navbar-fixed-top .navbar-center {
  display: inline-block;
  float: none;
  vertical-align: top;
}
nav#navbar-spy.nav.navbar-default.navbar-fixed-top .navbar-collapse-center {
  text-align: center;
}
nav#navbar-spy.nav.navbar-default.navbar-fixed-top li {
  font-size: 16px;
  cursor: pointer;
}

header#Home {
  overflow-x: hidden;
}
header#Home img {
  width: 100%;
  height: auto;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  min-height: 800px;
  min-width: 1400px;
}
header#Home h1, header#Home h4 {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  color: #ffffff;
  -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
}
header#Home h1 {
  top: 470px;
  font-size: 49px;
  font-weight: 400;
  line-height: 60px;
  text-align: justify;
}
header#Home h4 {
  top: 570px;
  font-size: 18px;
  font-weight: 300;
}

section#About {
  background-color: #ededed;
  padding: 140px 0px 40px 0px;
}
section#About .row h1, section#About .row h4, section#About .row i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section#About .row h1 {
  font-size: 40px;
  font-weight: 500;
  color: #4d4f4f;
}
section#About .row .bgc_pic img {
  width: 75px;
  height: auto;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  top: -40px;
}
section#About .row .bgc_pic img.left {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}
section#About .row .bgc_pic img.right {
  -webkit-transform: translateX(130px);
          transform: translateX(130px);
}
section#About .row .content {
  margin: 60px 0px 30px 0px;
}
section#About .row .content h4 {
  font-weight: 400;
  font-size: 16px;
  color: #4d4f4f;
  opacity: 0.7;
  text-align: center;
  line-height: 28.8px;
}
section#About .row .button {
  width: 142px;
  height: 44px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), -5px -5px 10px white;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), -5px -5px 10px white;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 50px;
}
section#About .row .button:hover {
  background-color: #e7e7e7;
}
section#About .row .button .button_text {
  left: 25px;
}
section#About .row .button .button_text h4 {
  color: #eaba6b;
  display: inline-block;
  font-size: 19px;
}
section#About .row .button .button_text i {
  display: inline-block;
  font-size: 16px;
  margin-right: 8px;
  color: #b5b5b5;
}

section#Skill {
  background-color: #ededed;
  padding: 90px 0px;
  text-align: center;
}
section#Skill .row h1 {
  font-size: 40px;
  font-weight: 500;
  color: #4d4f4f;
  margin-bottom: 80px;
}
section#Skill .row .circle {
  width: 130px;
  height: 130px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), -5px -5px 10px white;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), -5px -5px 10px white;
  border-radius: 50%;
}
section#Skill .row .circle i {
  color: #2dc7ff;
  font-size: 40px;
  top: 45px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
section#Skill .row .circle:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
section#Skill .row h3 {
  font-size: 20px;
  font-weight: 700;
  color: #4d4f4f;
  margin: 40px 0px 15px 0px;
}
section#Skill .row h4 {
  font-weight: 400;
  font-size: 16px;
  color: #4d4f4f;
  opacity: 0.6;
}

section#Skill .container .skill_box {
  padding: 0px 170px;
}

section#Works {
  background-color: #ededed;
  padding: 80px 0px 0px 0px;
}
section#Works h1 {
  font-size: 40px;
  font-weight: 500;
  color: #4d4f4f;
  margin-bottom: 80px;
  text-align: center;
}
section#Works .works_text {
  left: 20px;
}
section#Works .works {
  padding: 20px 50px;
}
section#Works .works .works_pic {
  width: 413px;
  height: 260px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  background-position: center center;
  background-size: cover;
  margin-bottom: 80px;
}
section#Works .works .works_pic.immerse {
  background-image: url(pic/portfolio_immerse.jpg);
}
section#Works .works .works_pic.tainan_park {
  background-image: url(pic/portfolio_tainan_park_museum.jpg);
}
section#Works .works .works_pic.csmc {
  background-image: url(pic/portfolio_csmc.jpg);
}
section#Works .works .works_pic.skin {
  background-image: url(pic/portfolio_skin.jpg);
}
section#Works .works .works_pic.map {
  background-image: url(pic/portfolio_map.jpg);
  -webkit-filter: brightness(97%);
          filter: brightness(97%);
}
section#Works .works .works_pic.have {
  background-image: url(pic/portfolio_have.jpg);
}
section#Works .works h3 {
  color: #4d4f4f;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
  line-height: 33px;
  text-align: justify;
}
section#Works .works h5 {
  color: #4d4f4f;
  opacity: 0.7;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.5px;
  text-align: justify;
  font-weight: 400;
}
section#Works .works .button {
  width: 118px;
  height: 40px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), -5px -5px 10px white;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), -5px -5px 10px white;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 50px;
  margin-bottom: 50px;
  left: 70px;
  -moz-text-align-last: left !important;
       text-align-last: left !important;
}
section#Works .works .button:hover {
  background-color: #e6e6e6;
}
section#Works .works .button .button_text {
  left: 25px;
}
section#Works .works .button .button_text h4 {
  color: #2dc7ff;
  display: inline-block;
  font-size: 19px;
  font-weight: 400;
}
section#Works .works .button .button_text i {
  display: inline-block;
  font-size: 16px;
  margin-right: 8px;
  color: #b5b5b5;
}
section#Works .works .button .button_text.seeMore h4 {
  left: -3px;
}
section#Works .works .button.right_button {
  width: 134px;
  height: 40px;
  margin-left: 30px;
}
section#Works .works .button.right_button h4 {
  color: #b5b5b5;
  font-weight: 400;
}
section#Works .works .button.web {
  width: 118px;
  height: 40px;
}
section#Works .works img {
  width: 80px;
  height: auto;
  display: block;
  position: absolute;
  left: 83%;
  margin-bottom: 8px;
  top: 50px;
}
section#Works .works img.reddot {
  top: -10px;
}

section#Contact {
  background-color: #ededed;
  padding: 100px 0px 180px 0px;
}
section#Contact h1 {
  font-size: 40px;
  font-weight: 500;
  color: #4d4f4f;
  margin-bottom: 80px;
  text-align: center;
}
section#Contact .infos {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
section#Contact .photo {
  width: 100px;
  height: 100px;
  background-color: #434343;
  border-radius: 50%;
  background-image: url(pic/zhanichen.jpg);
  background-position: top center;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  left: 430px;
  top: -15px;
}
section#Contact h2 {
  top: 120px;
  font-size: 22px;
  font-weight: 700;
  left: 16px;
}
section#Contact h3, section#Contact h5, section#Contact h2 {
  -moz-text-align-last: left;
       text-align-last: left;
  color: #4d4f4f;
}
section#Contact h3 {
  font-size: 20px;
}
section#Contact h5 {
  opacity: 0.7;
}
section#Contact .button {
  width: 250px;
  height: 44px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), -5px -5px 10px white;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), -5px -5px 10px white;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 60px;
  -moz-text-align-last: left;
       text-align-last: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section#Contact .button:hover {
  background-color: #e7e7e7;
}
section#Contact .button .button_text h4 {
  color: #eaba6b;
  display: inline-block;
  font-size: 19px;
}
section#Contact .button .button_text i {
  display: inline-block;
  font-size: 16px;
  margin-right: 8px;
  color: #b5b5b5;
}

footer {
  background-color: #d4d4d4;
  text-align: center;
}
footer p {
  font-size: 9px;
  color: #979798;
  top: 5px;
}

main {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 90px 0px;
  opacity: 0;
  overflow-y: auto;
  pointer-events: none;
}
main img {
  width: 70%;
  height: auto;
  position: absolute;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 999;
}
main img.tainanParkImg {
  width: 880px;
  height: auto;
}
main i {
  color: #ababab !important;
  font-size: 23px;
  position: fixed;
  top: 30px;
  right: 50px;
  z-index: 999;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
main i:hover {
  color: #9b9b9b !important;
}
main.tainanParkOpen {
  opacity: 1;
  pointer-events: initial;
}
main.tainanParkOpen .button {
  width: 150px;
  height: 44px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  position: absolute;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), -5px -5px 10px white;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), -5px -5px 10px white;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 955px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
}
main.tainanParkOpen .button:hover {
  background-color: #e7e7e7;
}
main.tainanParkOpen .button .button_text h4 {
  color: #eaba6b;
  display: inline-block;
  font-size: 19px;
  -webkit-transform: translateX(13px);
          transform: translateX(13px);
}
main.tainanParkOpen .button .button_text i {
  display: inline-block;
  font-size: 16px;
  margin-right: 8px;
  color: #b5b5b5;
  position: absolute;
  left: -10px;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}
main.csmcOpen {
  opacity: 1;
  pointer-events: initial;
}
main.skinOpen {
  opacity: 1;
  pointer-events: initial;
}
main.mapOpen {
  opacity: 1;
  pointer-events: initial;
}
main.haveOpen {
  opacity: 1;
  pointer-events: initial;
}

@media screen and (max-width: 1200px) {
  section#Works .works_pic {
    left: 30px;
  }
  section#Works .works_text {
    top: -35px;
  }
  section#Works .works_text h3 {
    margin-bottom: 20px;
  }
  section#Works .button {
    left: -35px;
  }

  section#Contact .zhanichen {
    -webkit-transform: translateX(-80px) !important;
            transform: translateX(-80px) !important;
  }
}
@media screen and (max-width: 992px) {
  section#Skill .container .skill_box {
    padding: 0px 100px;
  }

  section#Contact .photo {
    left: 310px;
    top: -15px;
  }
}
@media screen and (max-width: 768px) {
  header#Home h1 {
    font-size: 45px;
  }
  header#Home h4 {
    top: 630px;
    font-size: 16px;
  }

  section#Skill .container .skill_box h4 {
    margin-bottom: 100px;
  }

  section#Works .works_text {
    top: -50px;
  }
  section#Works .row.works {
    left: -25px;
  }
  section#Works .works_pic {
    left: -20px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  section#Works .col-lg-12 .reddot, section#Works .col-lg-12 .design {
    display: none;
  }

  section#Contact .photo {
    left: 190px;
    top: -15px;
  }
}
